<li>
  <a href="" class="img-link">
    <img
      src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/tshirt-the-thao-nu-in-nguc-limited-stn6036-den-4.jpg?v=1677481353000"
      alt="">
  </a>
  <div class="box-infor">
    <div class="infor-item">
      <a href="">Áo T- Shirt Thể Thao Nữ In Ngực Limited</a>
      <span class="price">269.000đ</span>
      <span class="size">Đen / S</span>
      <a href="" class="remove"></a>
    </div>
    <div class="box">
      <div class="qty">
        <button type="button"> -</button>
        <input type="text" value="1">
        <button type="button"> +</button>
      </div>
      <div class="total">
        Tổng cộng:
        <span>858.000đ</span>
      </div>
    </div>
  </div>
</li>
<li>
  <a href="" class="img-link">
    <img src="https://bizweb.dktcdn.net/thumb/compact/100/438/408/products/qjk5043-xah-7.jpg" alt="">
  </a>
  <div class="box-infor">
    <div class="infor-item">
      <a href="">Quần Jeans Trẻ Em Can Gối Ly Thân</a>
      <span class="price">429.000đ</span>
      <span class="size">Xanh / 14-15</span>
      <a href="" class="remove"></a>
    </div>
    <div class="box">
      <div class="qty">
        <button type="button"> -</button>
        <input type="text" value="1">
        <button type="button"> +</button>
      </div>
      <div class="total">
        Tổng cộng:
        <span>858.000đ</span>
      </div>
    </div>
  </div>
</li>
