<li *ngIf="item.product != null && item != null">
  <a href="#" class="img-link">
    <img
      src="{{item.variant.image}}"
      alt="">
  </a>
  <div class="box-infor">
    <div class="infor-item">
      <a href="">{{item.product.name}}</a>
      <span class="price">{{item.product.price | currency : 'VND'}}</span>
      <span class="size">{{item.variant.color}} / {{item.variant.size}}</span>
      <a (click)="removeItem()" class="remove"></a>
    </div>
    <div class="box">
      <div class="qty">
        <button (click)="minus(1)" type="button"> -</button>
        <input type="text" value="{{item.quantity}}">
        <button (click)="plus(1)" type="button"> +</button>
      </div>
      <div class="total">
        Tổng cộng:
        <span>{{item.quantity * item.product.price | currency: 'VND'}}</span>
      </div>
    </div>
  </div>
</li>

