<header>
  <div class="container">
    <div class="top">
      <div class="left">
        <div class="logo" routerLink="/">
          <img src="https://bizweb.dktcdn.net/100/438/408/themes/897269/assets/logo.svg?1677685430794" alt="">
        </div>
        <div class="box-search">
          <form>
            <input type="text" placeholder="Tìm kiếm" (keyup)="search($event)" (focus)="toggle = !toggle" (blur)="onBlur()">
            <button type="submit"></button>
          </form>
          <ng-container *ngIf="toggle">
            <div class="result-box">
              <div class="search-result">
                <a routerLink="/san-pham/{{product.id}}" class="item-search" *ngFor="let product of search$ | async;">
                  <div class="img">
                    <img src="{{product.variants[0].image}}" alt="{{product.name}}">
                  </div>
                  <div class="d-title">{{product.name}}</div>
                  <div class="d-title">{{product.price | number: "1.0-0"}}đ</div>
                </a>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="right">
        <a href="" class="map">
          <i class="fa-solid fa-location-dot"></i>
          Tìm
          <span class="number">220</span>
          cửa hàng
        </a>
        <a href="" class="phone">
          <i class="fa-solid fa-phone"></i>
          <span class="number">1800 2086</span>
        </a>
        <span class="free">
          free
        </span>
      </div>
    </div>
    <div class="under">
      <div class="left">
        <app-mega-menu-header (isModal)="isModal = $event"></app-mega-menu-header>
      </div>
      <div class="right">
        <app-cart-header></app-cart-header>
        <div class="user">
          <a href="">
            <img src="	https://bizweb.dktcdn.net/100/438/408/themes/897269/assets/icon-user.svg?1677746368131" alt="">
            <span >
                          <a *ngIf="user == null" href="" routerLink="/account/register">đăng ký</a>
                           <span>/</span>
                           <a *ngIf="user == null" href="" routerLink="/account/login"> đăng nhập</a>
                         </span>
                        <span *ngIf="user != null">Cá nhân</span>

          </a>
          <div *ngIf="user != null" class="list-action">
            <ul>
              <li><a href="">{{user?.value}}</a></li>
              <li><a href="">Tài khoản của tôi</a></li>
              <li><a href="">Đổi mật khẩu</a></li>
              <li><a href="">Sổ địa chỉ</a></li>
              <li><a href="">Đã xem gần đây</a></li>
              <li><a href="">Sản phẩm yêu thích</a></li>
              <li class="logout" (click)="logOut()"><a href="">Đăng xuất</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="box-hover" *ngIf="isModal"></div>
