<header>
  <div class="container">
    <div class="top">
      <div class="left">
        <div class="logo">
          <img src="https://bizweb.dktcdn.net/100/438/408/themes/897269/assets/logo.svg?1677685430794" alt="">
        </div>
        <div class="box-search">
          <form>
            <input type="text" placeholder="tìm kiếm">
            <button type="submit"></button>
          </form>
        </div>
      </div>
      <div class="right">
        <a href="" class="map">
          <i class="fa-solid fa-location-dot"></i>
          Tìm
          <span class="number">220</span>
          cửa hàng
        </a>
        <a href="" class="phone">
          <i class="fa-solid fa-phone"></i>
          <span class="number">1800 2086</span>
        </a>
        <span class="free">
          free
        </span>
      </div>
    </div>
  </div>
</header>
