<header>
  <div class="container">
    <div class="top">
      <div class="left">
        <div class="logo" routerLink="/">
          <img src="https://bizweb.dktcdn.net/100/438/408/themes/897269/assets/logo.svg?1677685430794" alt="">
        </div>
        <div class="box-search">
          <form>
            <input type="text" placeholder="Tìm kiếm">
            <button type="submit"></button>
          </form>
        </div>
      </div>
      <div class="right">
        <a href="" class="map">
          <i class="fa-solid fa-location-dot"></i>
          Tìm
          <span class="number">220</span>
          cửa hàng
        </a>
        <a href="" class="phone">
          <i class="fa-solid fa-phone"></i>
          <span class="number">1800 2086</span>
        </a>
        <span class="free">
          free
        </span>
      </div>
    </div>
    <div class="under">
      <div class="left">
        <div id="mega-menu">
          <ul id="main-menu">
            <li>
              <a href="" class="sale">Sale 50%</a>
            </li>
            <li class="hover">
              <a href="">Nữ</a>
              <ul class="sub-menu">
                <li class="mega-menu">
                  <ul>
                    <li class="item-1">
                      <a href="">Áo nữ</a>
                      <ul>
                        <li><a href="">áo polo</a></li>
                        <li><a href="">áo thun</a></li>
                        <li><a href="">Áo khoác</a></li>
                        <li><a href="">Áo sơ mi</a></li>
                        <li><a href="">Áo chống nắng</a></li>
                        <li><a href="">Áo áo len</a></li>
                        <li><a href="">Áo nỉ</a></li>
                      </ul>
                    </li>
                    <li class="item-1">
                      <a href="">Quần nữ</a>
                      <ul>
                        <li><a href="">quần jeans</a></li>
                        <li><a href="">quần âu</a></li>
                        <li><a href="">quần kaki</a></li>
                        <li><a href="">quần short</a></li>
                        <li><a href="">quần nỉ</a></li>
                      </ul>
                    </li>
                    <li class="item-1">
                      <a href="">đồ mặc trong nữ</a>
                      <ul>
                        <li><a href="">Áo giữ nhiệt</a></li>
                        <li><a href="">Áo 2 dây - áo ba lỗ</a></li>
                        <li><a href="">đồ lót</a></li>
                      </ul>
                    </li>
                    <li class="item-1">
                      <a href="" class="text-danger">nổi bật</a>
                      <ul>
                        <li><a href="">Hàng mới về</a></li>
                        <li><a href="">bán chạy nhất</a></li>
                        <li><a href="">bán chạy nhất</a></li>
                        <li><a href="">khử mùi vượt trội</a></li>
                        <li><a href="">thoáng mát tối đa</a></li>
                        <li><a href="">chống UV</a></li>
                      </ul>
                    </li>
                    <li class="item-1">
                      <a href="">đồ thể thao nữ</a>
                      <ul>
                        <li><a href="">Áo thun thể thao</a></li>
                        <li><a href="">Áo Polo thể thao</a></li>
                        <li><a href="">bộ thể thao</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="thumbnail">
                  <img
                    src="https://bizweb.dktcdn.net/thumb/grande/100/438/408/themes/897269/assets/link_image_2_1.jpg?1677753100854"
                    alt="">
                </li>
              </ul>
            </li>
            <li class="hover">
              <a href="">Nam</a>
              <ul class="sub-menu">
                <li class="mega-menu">
                  <ul>
                    <li class="item-1">
                      <a href="">Áo nữ</a>
                      <ul>
                        <li><a href="">áo polo</a></li>
                        <li><a href="">áo thun</a></li>
                        <li><a href="">Áo khoác</a></li>
                        <li><a href="">Áo sơ mi</a></li>
                        <li><a href="">Áo chống nắng</a></li>
                        <li><a href="">Áo áo len</a></li>
                        <li><a href="">Áo nỉ</a></li>
                      </ul>
                    </li>
                    <li class="item-1">
                      <a href="">Quần nữ</a>
                      <ul>
                        <li><a href="">quần jeans</a></li>
                        <li><a href="">quần âu</a></li>
                        <li><a href="">quần kaki</a></li>
                        <li><a href="">quần short</a></li>
                        <li><a href="">quần nỉ</a></li>
                      </ul>
                    </li>
                    <li class="item-1">
                      <a href="">đồ mặc trong nữ</a>
                      <ul>
                        <li><a href="">Áo giữ nhiệt</a></li>
                        <li><a href="">Áo 2 dây - áo ba lỗ</a></li>
                        <li><a href="">đồ lót</a></li>
                      </ul>
                    </li>
                    <li class="item-1">
                      <a href="" class="text-danger">nổi bật</a>
                      <ul>
                        <li><a href="">Hàng mới về</a></li>
                        <li><a href="">bán chạy nhất</a></li>
                        <li><a href="">bán chạy nhất</a></li>
                        <li><a href="">khử mùi vượt trội</a></li>
                        <li><a href="">thoáng mát tối đa</a></li>
                        <li><a href="">chống UV</a></li>
                      </ul>
                    </li>
                    <li class="item-1">
                      <a href="">đồ thể thao nữ</a>
                      <ul>
                        <li><a href="">Áo thun thể thao</a></li>
                        <li><a href="">Áo Polo thể thao</a></li>
                        <li><a href="">bộ thể thao</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="thumbnail">
                  <img
                    src="https://bizweb.dktcdn.net/thumb/grande/100/438/408/themes/897269/assets/link_image_3_1.jpg?1677753100854"
                    alt="">
                </li>
              </ul>
            </li>
            <li class="hover">
              <a href="">trẻ em</a>
              <ul class="sub-menu">
                <li class="mega-menu">
                  <ul>
                    <li class="item-1">
                      <a href="">Áo nữ</a>
                      <ul>
                        <li><a href="">áo polo</a></li>
                        <li><a href="">áo thun</a></li>
                        <li><a href="">Áo khoác</a></li>
                        <li><a href="">Áo sơ mi</a></li>
                        <li><a href="">Áo chống nắng</a></li>
                        <li><a href="">Áo áo len</a></li>
                        <li><a href="">Áo nỉ</a></li>
                      </ul>
                    </li>
                    <li class="item-1">
                      <a href="">Quần nữ</a>
                      <ul>
                        <li><a href="">quần jeans</a></li>
                        <li><a href="">quần âu</a></li>
                        <li><a href="">quần kaki</a></li>
                        <li><a href="">quần short</a></li>
                        <li><a href="">quần nỉ</a></li>
                      </ul>
                    </li>
                    <li class="item-1">
                      <a href="">đồ mặc trong nữ</a>
                      <ul>
                        <li><a href="">Áo giữ nhiệt</a></li>
                        <li><a href="">Áo 2 dây - áo ba lỗ</a></li>
                        <li><a href="">đồ lót</a></li>
                      </ul>
                    </li>
                    <li class="item-1">
                      <a href="" class="text-danger">nổi bật</a>
                      <ul>
                        <li><a href="">Hàng mới về</a></li>
                        <li><a href="">bán chạy nhất</a></li>
                        <li><a href="">bán chạy nhất</a></li>
                        <li><a href="">khử mùi vượt trội</a></li>
                        <li><a href="">thoáng mát tối đa</a></li>
                        <li><a href="">chống UV</a></li>
                      </ul>
                    </li>
                    <li class="item-1">
                      <a href="">đồ thể thao nữ</a>
                      <ul>
                        <li><a href="">Áo thun thể thao</a></li>
                        <li><a href="">Áo Polo thể thao</a></li>
                        <li><a href="">bộ thể thao</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="thumbnail">
                  <img
                    src="https://bizweb.dktcdn.net/thumb/grande/100/438/408/themes/897269/assets/link_image_4_1.jpg?1677753100854"
                    alt="">
                </li>
              </ul>
            </li>
            <li>
              <a href="">bộ sưu tập</a>
            </li>
            <li>
              <a href="">đồng phục</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="right">
        <app-cart-header></app-cart-header>
        <div class="user">
          <a href="">
            <img src="	https://bizweb.dktcdn.net/100/438/408/themes/897269/assets/icon-user.svg?1677746368131" alt="">
                        <span *ngIf="user == null">
                          <a href="" routerLink="/account/register">đăng ký</a>
                           <span>/</span>
                           <a href="" routerLink="/account/login"> đăng nhập</a>
                         </span>
<!--            <span>Cá nhân</span>-->

          </a>
          <div *ngIf="user != null" class="list-action">
            <ul>
              <li><a href="">{{user?.value}}</a></li>
              <li><a href="">Tài khoản của tôi</a></li>
              <li><a href="">Đổi mật khẩu</a></li>
              <li><a href="">Sổ địa chỉ</a></li>
              <li><a href="">Đã xem gần đây</a></li>
              <li><a href="">Sản phẩm yêu thích</a></li>
              <li class="logout" (click)="logOut()"><a href="">Đăng xuất</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="box-hover" *ngIf="isModal"></div>

