header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url(//bizweb.dktcdn.net/100/438/408/themes/897269/assets/background-header.png?1677654583593);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: 0 6px 12px 0 rgb(0 0 0 / 5%);
  padding-bottom: 5px;
  transition: all .5s;
  z-index: 999;

  .top, .under {
    max-width: 1240px;
    margin: 0 auto;
  }

  .top {
    padding-top: 5px;
    display: flex;
    align-items: center;

    .left {
      display: flex;
      align-items: center;
      width: calc(100% - 300px);

      .logo {
        width: 80px;
        margin-right: 22px;
        cursor: pointer;

        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }

      .box-search {
        position: relative;
        max-width: 505px;
        margin: 5px 0;
        width: calc(100% - 100px);

        form {
          position: relative;
          width: 100%;
          margin: 0;
          border: 2px solid transparent;
          border-radius: 10px;

          input {
            outline: none;
            padding: 0 70px 0 12px;
            margin: 0;
            border: none;
            width: 100%;
            height: 40px;
            min-height: 38px;
            line-height: 38px;
            background: #fff;
            border-radius: 8px;
            font-size: 14px;
            color: #000;
            font-family: 'SVN-Gilroy', serif;
          }

          button {
            position: absolute;
            width: 85px;
            height: 40px;
            right: 0;
            top: 0;
            background: var(--main-text-yellow) url(https://bizweb.dktcdn.net/100/438/408/themes/897269/assets/icon-search.svg) center center no-repeat;
            border-radius: 0 8px 8px 0;
            border: 1px solid transparent;
          }

          button:hover {
            border-color: #D9D9D9 !important;
          }
        }

        :hover input {
          border: 1px solid var(--main-text-yellow);
        }

        .result-box {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          background: #fff;
          box-shadow: 0 2px 6px 0 rgba(50, 50, 50, 0.33);
          z-index: 9999;

          .search-result {
            a {
              height: 64px;
              background-color: #fff;
              padding: 5px;
              font-size: 14px;
              display: block;

              .img {
                text-align: center;
                float: left;
                width: 40px;
                margin-right: 5px;

                img {
                  border: 0 none;
                  max-width: 100%;
                  height: auto;
                }
              }

              .d-title {
                margin-bottom: 0;
                margin-top: 0;
                color: #000000;
                line-height: 18px;
                text-transform: capitalize;
                font-weight: 500;
              }
            }
            a + a {
              border-top: 1px solid rgba(0,0,0,0.1);
            }
            a:hover {
              .d-title {
                color: #fcaf17;
                text-decoration: none;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    .right {
      width: 380px;
      display: flex;
      justify-content: end;
      align-items: center;

      a {
        color: #000;
        text-decoration: none;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: .8px;

        i {
          font-size: 16px;
          margin-right: 3px;
        }

        .number {
          color: var(--main-text);
          font-size: 15px;
        }
      }

      .map {
        margin-right: 20px;
      }

      .map:hover {
        color: var(--main-text-yellow);
        cursor: pointer;
      }

      .map:hover i {
        color: #000;
      }

      span.free {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        background: var(--main-text-yellow);
        border-radius: 100px;
        font-size: 12px;
        font-weight: 600;
        margin-left: 7px;
        padding: 3px 7px;
        text-transform: uppercase;
        color: #000;
      }
    }
  }

  .under {

    display: flex;
    align-items: center;

    .left {
      width: calc(100% - 300px);
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: right;
      width: 400px;

      .user {
        position: relative;

        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: var(--main-text);

          span {
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: .8px;

            span {
              padding: 0 5px;
            }
          }

          img {
            display: block;
            width: 28px;
            height: 28px;
            margin-right: 5px;
          }
        }

        .list-action {
          display: none;
          position: absolute;
          margin-top: 10px;
          right: 0;

          ul {
            padding: 0;
            list-style: none;
            margin: 0;
            background: #fff;
            min-width: 170px;

            li {
              padding: 0 10px;

              a {
                display: block;
                padding: 5px;
                width: 150px;
                font-size: 14px;
                font-weight: 500;
                color: #000;
              }

              &:first-child > a {
                border-bottom: 1px #dde1ef solid;
                color: var(--main-text-yellow);
                font-size: 15px;
                font-weight: 600;
              }

              &.logout {
                padding-top: 10px;

                a {
                  padding: 10px 0 10px 35px;
                  border-top: 1px solid #DDE1EF;
                  background: url(https://bizweb.dktcdn.net/100/438/408/themes/897269/assets/logout.svg) left 5px center no-repeat;
                }
              }

              &:hover > a {
                color: var(--main-text-yellow);
              }
            }
          }
        }

        &:hover > .list-action {
          display: block;
        }

        &:after {
          position: absolute;
          content: '';
          bottom: -10px;
          right: -5px;
          height: 12px;
          width: 100%;
        }
      }
    }
  }
}

.box-hover {
  position: fixed;
  background-color: #000;
  opacity: 0.5;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;
}

