<div id="wp-register">
  <div class="container">
    <div class="form-register rounded">
      <p class="title">Chào mừng bạn đến với Yody!</p>
      <h1> đăng <span>ký</span></h1>
      <form action="" #f="ngForm" (ngSubmit)="onSubmit(f)"  id="form-register">
        <div class="form-input">
          <input type="text" ngModel id="full_name" placeholder="Họ và tên" name="full_name">
        </div>
        <div class="form-input">
          <input type="text" ngModel id="phone_number" placeholder="Số điện thoại" name="phone_number">
        </div>
        <div class="form-input">
          <input type="text" ngModel id="email" placeholder="Địa chỉ email" name="email">
        </div>
        <div class="form-input form-input--eye">
          <input [type]="type" ngModel id="password" placeholder="Mật khẩu" name="password">
          <span (click)="toggleEye()" *ngIf="!isEye; else openEye;"></span>
          <ng-template #openEye>
            <span class="open-eye" (click)="toggleEye()"></span>
          </ng-template>
        </div>
        <div class="form-button">
          <button type="ngSubmit">Đăng ký</button>
        </div>
        <div class="box-social-login">
          <div class="separator-or">
            <p>Hoặc đăng ký bằng</p>
            <div class="social">
              <div class="left">
                <a href="">
                  <img src="https://bizweb.dktcdn.net/100/438/408/themes/897269/assets/ic_btn_google.svg?1677813309052" alt="">
                </a>
              </div>
              <div class="right">
                <a href="">
                  <img src="https://bizweb.dktcdn.net/100/438/408/themes/897269/assets/ic_btn_facebook.svg?1677813309052" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="back-login">
          Bạn đã có tài khoản?
          <a href="" routerLink="/account/login">Đăng nhập ngay!</a>
        </div>
      </form>
    </div>
  </div>
</div>
