<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Danh mục sản phẩm</h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">stt</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Tên danh mục</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Danh mục
                  cha
                </th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">thời gian
                </th>
                <th class="text-secondary opacity-7"></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of categories; index as idx">
                <td>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm">{{ idx + 1 }}</h6>
                    </div>
                  </div>
                </td>
                <td>
                  <p class="text-xs font-weight-bold mb-0">{{ item.name }}</p>
                </td>
                <td class="align-middle text-center text-sm">
                  <p class="text-xs font-weight-bold mb-0">{{ item.parentId }}</p>
                </td>
                <td class="align-middle text-center">
                  <span class="text-secondary text-xs font-weight-bold">{{ item.createAt | date:'short' }}</span>
                </td>
                <td class="align-middle d-flex align-items-center justify-content-center">
                  <a href="" class="text-secondary"><i class="material-icons">edit</i></a>
                  <a href="" class="text-secondary"><i class="material-icons">delete</i></a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <footer class="footer py-4  ">
          <div class="container-fluid">
            <div class="row align-items-center justify-content-lg-between">
              <div class="col-lg-6 mb-lg-0 mb-4">
                <div class="copyright text-center text-sm text-muted text-lg-start">
                  © 2023 bản quyền thuộc về <span style="color: #ec407a;">Yody.vn</span>
                  thực hiện bởi
                  <span style="color: #ec407a;">NgNteam.com</span>
                </div>
              </div>
              <div class="col-lg-6">
                <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                  <li class="nav-item">
                    <a href="" class="btn">Thêm mới</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>
