<div class="wp-product-slider">
  <div class="title">
    <h6>{{ category }}</h6>
    <p>Xem thêm <i class="fa-solid fa-angle-right"></i></p>
  </div>
  <div class="box-product-banner">
    <div class="banner">
      <img
        src="https://bizweb.dktcdn.net/100/438/408/themes/897269/assets/home_preivew_sanpham_3_image_desktop.jpg?1677940801643"
        alt="">
    </div>
    <div class="product-slider">
      <owl-carousel-o [options]="productSliderOption">
        <ng-template carouselSlide *ngIf="listProductFirst.length > 0">
          <app-product [listItem]="listProductFirst"></app-product>
        </ng-template>
        <ng-template carouselSlide *ngIf="listProductLast.length > 0">
          <app-product [listItem]="listProductLast"></app-product>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</div>
