<div class="wp-product-slider">
  <div class="title d-flex align-items-center justify-content-between">
    <h6>hàng mới về</h6>
    <p>Xem thêm <i class="fa-solid fa-angle-right"></i></p>
  </div>
  <div class="box-product-banner">
    <div class="banner">
      <img src="https://bizweb.dktcdn.net/100/438/408/themes/897269/assets/home_preivew_sanpham_3_image_desktop.jpg?1677940801643" alt="">
    </div>
    <div class="product-slider">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <ul class="list-product">
            <div class="row">
              <div class="col-md-3">
                <li>
                  <div class="thumbnail">
                    <img
                      src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/ao-polo-nu-tay-ngan-pique-mat-chim-phoi-bo-thoang-khi-apn3340-xxm-yodyvn-9.jpg?v=1675326493000"
                      alt="">
                  </div>
                  <h5>Áo Polo Nữ Tay Ngắn Pique Mắt Chim Phối Bo Thoáng Khí </h5>
                  <p class="item-price">299.000d</p>
                </li>
              </div>
              <div class="col-md-3">
                <li>
                  <div class="thumbnail">
                    <img
                      src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/ao-polo-nam-apm3635-tny-8-yodyvn.jpg?v=1676025634000"
                      alt="">
                  </div>
                  <h5>Áo Polo Nam Cafe Phối Nẹp Thấm Hút Mồ Hôi</h5>
                  <p class="item-price">299.000d</p>
                </li>
              </div>
              <div class="col-md-3">
                <li>
                  <div class="thumbnail">
                    <img
                      src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/apm3299-xxm-7.jpg?v=1673602563000"
                      alt="">
                  </div>
                  <h5>Áo Polo Nam Pique Mắt Chim Basic Co Giãn Thoáng Khí</h5>
                  <p class="item-price">299.000d</p>
                </li>
              </div>
              <div class="col-md-3">
                <li>
                  <div class="thumbnail">
                    <img
                      src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/ao-polo-nam-apm3519-vag-8-yodyvn-3d9ed4bf-521d-42c6-9933-af47acff9bc5.jpg?v=1675313575000"
                      alt="">
                  </div>
                  <h5>Áo Polo Nam Coolmax Lacoste</h5>
                  <p class="item-price">299.000d</p>
                </li>
              </div>
            </div>
          </ul>
        </ng-template>
        <ng-template carouselSlide>
          <ul class="list-product">
            <div class="row">
              <div class="col-md-3">
                <li>
                  <div class="thumbnail">
                    <img
                      src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/ao-polo-nu-apn3700-tna-cvn5072-nab-1-yodyvn.jpg?v=1675313560000"
                      alt="">
                  </div>
                  <h5>Áo Polo Nữ Tay Ngắn Pique Mắt Chim Phối Bo Thoáng Khí</h5>
                  <p class="item-price">299.000d</p>
                </li>
              </div>
              <div class="col-md-3">
                <li>
                  <div class="thumbnail">
                    <img
                      src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/apm3681-cba-qjm3021-den-2-2.jpg?v=1677121919000"
                      alt="">
                  </div>
                  <h5>Áo Polo Nam Cafe Phối Nẹp Thấm Hút Mồ Hôi</h5>
                  <p class="item-price">299.000d</p>
                </li>
              </div>
              <div class="col-md-3">
                <li>
                  <div class="thumbnail">
                    <img
                      src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/san5002-hog-cvn5148-tra-1.jpg?v=1673409188000"
                      alt="">
                  </div>
                  <h5>Áo Polo Nam Pique Mắt Chim Basic Co Giãn Thoáng Khí</h5>
                  <p class="item-price">299.000d</p>
                </li>
              </div>
              <div class="col-md-3">
                <li>
                  <div class="thumbnail">
                    <img
                      src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/sam5039-den-5.jpg?v=1674020318000"
                      alt="">
                  </div>
                  <h5>Áo Polo Nam Coolmax Lacoste</h5>
                  <p class="item-price">299.000d</p>
                </li>
              </div>
            </div>
          </ul>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</div>
