<div class="wp-product-slider">
  <div class="title">
    <h6>{{ slug?.name }}</h6>
    <a routerLink="/tong-san-pham/{{slug?.id}}">Xem thêm <i class="fa-solid fa-angle-right"></i></a>
  </div>
  <div class="box-product-banner">
    <div class="banner">
      <img src="{{slug?.image}}"  alt="">
    </div>
    <div class="product-slider">
      <owl-carousel-o [options]="productSliderOption">
        <ng-template carouselSlide *ngIf="listProductFirst.length > 0">
          <app-product [listItem]="listProductFirst"></app-product>
        </ng-template>
        <ng-template carouselSlide *ngIf="listProductLast.length > 0">
          <app-product [listItem]="listProductLast"></app-product>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</div>
