<div class=" mt-5 d-flex justify-content-between  container p-0"
     style="max-width: 1240px; width: 100%; margin: auto; height: fit-content;">
  <div class="mt-4" style="width: 15%">
    <div *ngIf=" colorsFilter.length > 0 || sizesFilter.length > 0">
      <span class="title">Bạn đã chọn</span>
      <div >
        <span  *ngFor="let size of sizesFilter"
               (click)="removeSize(size)"
          class="d-inline-block btn-warning ps-2 pe-2 mt-2 mb-2 btn-rounded me-2" style="border-radius: 4px; cursor: pointer;">
          x {{size}}
        </span>
        <span  *ngFor="let color of colorsFilter"
               (click)="removeColor(color)"
               class="d-inline-block btn-warning ps-2 pe-2 mt-2 mb-2 btn-rounded me-2" style="border-radius: 4px; cursor: pointer">
          x {{
          color.toLocaleLowerCase() == 'black' ? 'Đen' :
          color.toLocaleLowerCase() == 'red' ? 'Đỏ':
            color.toLocaleLowerCase() == 'green' ? 'Xanh lá cây' :
              'Xanh biển'}}
        </span>
      </div>
    </div>

    <span class="d-block title ">Loại sản phẩm</span>
    <div class=" product-type-list filter-items-layout ">
      <span class="filter-item ">Áo ba lỗ - 2 dây nữ</span>
      <span class="filter-item ">Áo ba lỗ - 2 dây nữ</span>
      <span class="filter-item ">Áo ba lỗ - 2 dây nữ</span>
      <span class="filter-item ">Áo ba lỗ - 2 dây nữ</span>
      <span class="filter-item ">Áo ba lỗ - 2 dây nữ</span>
      <span class="filter-item ">Áo ba lỗ - 2 dây nữ</span>
      <span class="filter-item ">Áo ba lỗ - 2 dây nữ</span>
      <span class="filter-item ">Áo ba lỗ - 2 dây nữ</span>
    </div>
    <span class="d-block title ">Kích thước</span>
    <div class="sizing filter-items-layout">
      <span class="filter-item " *ngFor="let size of sizes" (click)="addSize(size)" >{{size}}</span>
    </div>
    <span class="d-block  title">Màu sắc</span>
    <div class="sizing filter-items-layout">
  <span *ngFor="let color of colors"
        (click)="addColor(color)"
        class="filter-item">
    <div
      class="d-flex justify-content-between align-items-center gap-2">
      <span

        class="filter-color bg-color-{{color.toLocaleLowerCase()}}"
      ></span>{{
        color.toLocaleLowerCase() == 'black' ? 'Đen' :
          color.toLocaleLowerCase() == 'red' ? 'Đỏ':
            color.toLocaleLowerCase() == 'green' ? 'Xanh lá cây' :
              'Xanh biển'
      }}</div>

  </span>

    </div>


  </div>

  <div style="width: 80%">
    <div class="d-flex justify-content-between align-items-center pb-2">
      <div>
        112 sản phẩm
      </div>
      <div class="d-flex align-items-center" style="width: 30%;">
        <span class="me-2" style="font-size: 16px; font-weight: 500;">Sắp xếp theo</span>
        <div
          class="selection-sort d-flex justify-content-between align-items-center border border-1 p-2  rounded flex-fill position-relative ">
          <span class=" " style="font-size: 16px; font-weight: 500;">{{sort}}</span>
          <span><i class="fas fa-angle-down pe-1"></i></span>
          <ul class="selection-sort-list border border-1 p-2 ">
            <li class="d-flex justify-content-between align-items-center"
                *ngFor="let item of sortingTypes"
                [ngClass]="{'selection-active': sort == item.value}"
                (click)="sortingTypeChange(item.value)"
            ><span>{{item.value}}</span> <i
              class="fas fa-check selection-icon"></i></li>

          </ul>
        </div>
      </div>
    </div>
    <app-product-list [products$]="products$"></app-product-list>
    <div class="d-flex justify-content-center mt-3 mb-3">
      <div class="custom-pagination ">
        <a class="custom-pagination-item "><i class="fas fa-arrow-left"></i></a>
        <a class="custom-pagination-item activated">1</a>
        <a class="custom-pagination-item">2</a>
        <a class="custom-pagination-item">3</a>
        <a class="custom-pagination-item">4</a>
        <a class="custom-pagination-item">5</a>
        <a class="custom-pagination-item"><i class="fas fa-arrow-right"></i></a>
      </div>

    </div>
  </div>
</div>
