footer {
  background: var(--main-text) top center;
  padding: 25px 0 0;
  color: #fff;
  font-size: 14px;

  & .under {
    color: #fff;
    font-size: 13px;
    text-align: center;
    padding-bottom: 16px;

    & > a {
      color: var(--main-text-yellow);
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      line-height: 28px;

      & > a {
        color: #fff;
      }

      &:hover > a {
        color: var(--main-text-yellow);
      }
    }
  }

  & h6 {
    text-transform: uppercase;
  }
}
