<footer >
  <div class="d-flex justify-content-center text-light">
    <div class="container row">
    <div class="col-4 ">
      <p>“Đặt sự hài lòng của khách hàng là ưu tiên số 1 trong mọi suy nghĩ hành động của mình” là sứ mệnh, là triết lý, chiến lược.. luôn cùng YODY tiến bước</p>
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex ">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <span>ĐĂNG KÝ NHẬN THÔNG TIN</span>
              </p>
            </div>
            <div class="col-8">
              <mdb-form-control class="form-white " style="background-color: rgba(255,255,255,0.3); color: ">
                <input mdbInput type="email" id="form5Example24" class="form-control" />
                <label mdbLabel class="form-label" for="form5Example24">Nhập mail đăng ký của bạn</label>
              </mdb-form-control>
            </div>
            <div class="col-4">
              <button mdbRipple type="submit" class="btn btn-secondary mb-4">
                ĐĂNG KÝ
              </button>
            </div>
          </div>
        </form>
      </section>
      <div class="d-flex gap-2 ">
        <!-- Facebook -->
        <a class="btn text-white btn-floating btn-lg" style="background-color: #3b5998;" href="#!" role="button">
          <i class="fab fa-facebook-f"></i>
        </a>

        <!-- Twitter -->
        <a class="btn text-white btn-floating btn-lg" style="background-color: #55acee;" href="#!" role="button">
          <i class="fab fa-twitter"></i>
        </a>

        <!-- Google -->
        <a class="btn text-white btn-floating btn-lg" style="background-color: #dd4b39;" href="#!" role="button">
          <i class="fab fa-google"></i>
        </a>

        <!-- Instagram -->
        <a class="btn text-white btn-floating btn-lg" style="background-color: #ac2bac;" href="#!" role="button">
          <i class="fab fa-instagram"></i>
        </a>
        <!-- Linkedin -->
        <a class="btn text-white btn-floating btn-lg" style="background-color: #0082ca;" href="#!" role="button">
          <i class="fab fa-linkedin-in"></i>
        </a>

        <!-- Pinterest -->
        <a class="btn text-white btn-floating btn-lg" style="background-color: #c61118;" href="#!" role="button">
          <i class="fab fa-pinterest"></i>
        </a>
        <!-- Pinterest -->
        <a class="btn text-white btn-floating btn-lg" style="background-color: #c61118;" href="#!" role="button">
          <i class="fab fa-pinterest"></i>
        </a>

      </div>
    </div>
    <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
      <h6 class="text-uppercase">Về yody</h6>

      <ul class="list-unstyled mb-0">
        <li>
          <a href="#!" class="text-white">Giới thiệu</a>
        </li>
        <li>
          <a href="#!" class="text-white">Liên hệ</a>
        </li>
        <li>
          <a href="#!" class="text-white">Tuyển dụng</a>
        </li>
        <li>
          <a href="#!" class="text-white">Tin tức</a>
        </li>
        <li>
          <a href="#!" class="text-white">Hệ thống cửa hàng</a>
        </li>
      </ul>
    </div>
    <!--Grid column-->

    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
      <h6 class="text-uppercase">Hỗ trợ khách hàng</h6>

      <ul class="list-unstyled mb-0">
        <li>
          <a href="#!" class="text-white">Hướng dẫn chọn size</a>
        </li>
        <li>
          <a href="#!" class="text-white">Chính sách khách hàng thân thiết</a>
        </li>
        <li>
          <a href="#!" class="text-white">Chính sách đổi/trả</a>
        </li>
        <li>
          <a href="#!" class="text-white">Thanh toán, giao nhận</a>
        </li>
        <li>
          <a href="#!" class="text-white">Chính sách Đồng phục</a>
        </li>
        <li>
          <a href="#!" class="text-white">Chính sách bảo mật thông tin khách hàng</a>
        </li>
      </ul>
    </div>
    <!--Grid column-->

    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
      <h6 class="text-uppercase">CÔNG TY CP THỜI TRANG YODY</h6>

      <ul class="list-unstyled mb-0">
        <li>
          <span class="text-white">Công ty cổ phần Thời trang YODY</span>
          <div>Địa chỉ: Đường An Định - Phường Việt Hòa - Thành phố Hải Dương - Hải Dương</div>
        </li>
        <li>
          <a href="#!" class="text-white"> Tìm cửa hàng gần bạn nhất</a>
        </li>
        <li>
          <a href="#!" class="text-white"> Liên hệ đặt hàng: 024 999 86 999</a>
        </li>
        <li>
          <a href="#!" class="text-white">Góp ý khiếu nại: 1800 2086</a>
        </li>
      </ul>
    </div>
    <!--Grid column-->

  </div></div>
  <div class="text-center p-3 mt-3 text-light" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>

</footer>
