<div id="wp-login">
  <div class="rounded">
    <form action="" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h4>đăng <span>nhập</span></h4>
      <div class="form-input">
        <input type="text" id="email"  formControlName="email" placeholder="Email" >
      </div>
      <div class="form-input form-input--eye">
        <input [type]="type"  id="password" formControlName="password" placeholder="Mật khẩu">
        <span (click)="toggleEye()" *ngIf="!isEye; else openEye;"></span>
        <ng-template #openEye>
          <span class="open-eye" (click)="toggleEye()"></span>
        </ng-template>
      </div>
      <div class="form-button">
        <button type="ngSubmit" class="btn btn-warning" [disabled]="!loginForm.valid">Đăng nhập</button>
      </div>
    </form>
    <span>Quên mật khẩu</span>
    <div class="separator-or">
      <p>Hoặc đăng nhập bằng</p>
    </div>
    <div class="socials">
      <a class="btn text-white me-4" style="background-color: #dd4b39;" href="#" role="button">
        <i class="fab fa-google me-2"></i>
        google
      </a>
      <a class="btn text-white" style="background-color: #3b5998;" href="#" role="button">
        <i class="fab fa-facebook me-2"></i>
        Facebook
      </a>
    </div>
    <div class="back-register">
      Bạn đã có tài khoản?
      <a href="" routerLink="/account/register">Đăng ký ngay!</a>
    </div>
  </div>
</div>
