<div class="row">
  <div class="col-md-12">
    <h5 class="ps-3 mb-3">Thêm danh mục</h5>
  </div>
  <div class="col-md-6">
    <form action="" class="ps-3">
      <input type="text" name="name" placeholder="Tên danh mục"/>
      <select name="parentId" id="">
        <option>danh mục cha</option>
        <option *ngFor="let item of categories" value="{{ item.id }}"> {{ item.name }}</option>
      </select>
      <button type="submit" name="btn-sm" class="btn">Thêm mới</button>
    </form>
  </div>
</div>
