<ul class="list-product">
  <div class="row">
    <div *ngFor="let item of listItem" class="col-md-3">
      <li>
        <div class="thumbnail">
          <img
            src="{{ item }}"
            alt="">
        </div>
        <h5>Áo Polo Nam Coolmax Lacoste</h5>
        <p class="item-price">299.000d</p>
        <div class="option-swatch">
          <div class="swatch-item">
            <img
              src="https://bizweb.dktcdn.net/thumb/thumb/100/438/408/products/ao-polo-nu-tay-ngan-pique-mat-chim-phoi-bo-thoang-khi-apn3340-xxm-yodyvn-9.jpg?v=1675326493000"
              alt="" class="active">
          </div>
          <div class="swatch-item">
            <img
              src="https://bizweb.dktcdn.net/thumb/thumb/100/438/408/products/ao-polo-nu-tay-ngan-pique-mat-chim-phoi-bo-thoang-khi-apn3340-xlm-yodyvn-8.jpg?v=1675326493000"
              alt="">
          </div>
          <div class="swatch-item">
            <img
              src="https://bizweb.dktcdn.net/thumb/thumb/100/438/408/products/ao-polo-nu-tay-ngan-pique-mat-chim-phoi-bo-thoang-khi-apn3340-xng-yodyvn-8.jpg?v=1675326493000"
              alt="">
          </div>
          <div class="swatch-item">
            <img
              src="https://bizweb.dktcdn.net/thumb/thumb/100/438/408/products/ao-polo-nu-tay-ngan-pique-mat-chim-phoi-bo-thoang-khi-apn3340-vag-yodyvn-7.jpg?v=1675326493000"
              alt="">
          </div>
          <div class="swatch-item">
            <img
              src="https://bizweb.dktcdn.net/thumb/thumb/100/438/408/products/ao-polo-nu-tay-ngan-pique-mat-chim-phoi-bo-thoang-khi-apn3340-nau-yodyvn-9.jpg?v=1675326493000"
              alt="">
          </div>
          <div class="swatch-item">
            <img
              src="https://bizweb.dktcdn.net/thumb/thumb/100/438/408/products/ao-polo-nu-tay-ngan-pique-mat-chim-phoi-bo-thoang-khi-apn3340-nau-yodyvn-9.jpg?v=1675326493000"
              alt="">
          </div>
        </div>

      </li>
    </div>
  </div>
</ul>

