<span class="d-block title ">Loại sản phẩm</span>
<div class=" product-type-list filter-items-layout ">
  <span class="filter-item ">Áo ba lỗ - 2 dây nữ</span>
  <span class="filter-item ">Áo ba lỗ - 2 dây nữ</span>
  <span class="filter-item ">Áo ba lỗ - 2 dây nữ</span>
  <span class="filter-item ">Áo ba lỗ - 2 dây nữ</span>
  <span class="filter-item ">Áo ba lỗ - 2 dây nữ</span>
  <span class="filter-item ">Áo ba lỗ - 2 dây nữ</span>
  <span class="filter-item ">Áo ba lỗ - 2 dây nữ</span>
  <span class="filter-item ">Áo ba lỗ - 2 dây nữ</span>
</div>
<span class="d-block title ">Kích thước</span>
<div class="sizing filter-items-layout">
  <span class="filter-item ">S</span>
  <span class="filter-item ">M</span>
  <span class="filter-item ">L</span>
  <span class="filter-item ">XL</span>
  <span class="filter-item ">XXL</span>
  <span class="filter-item ">4XL</span>
</div>
<span class="d-block  title">Màu sắc</span>
<div class="sizing filter-items-layout">
  <span class="filter-item">
    <div class="d-flex justify-content-between align-items-center gap-2">
      <span class="filter-color bg-color-black"></span> Đen</div>
  </span>
  <span class="filter-item">
    <div class="d-flex justify-content-between align-items-center gap-2">
      <span class="filter-color bg-color-white" ></span> Trắng</div>
  </span>
  <span class="filter-item">
    <div class="d-flex justify-content-between align-items-center gap-2">
      <span class="filter-color bg-color-yellow" ></span> Vàng</div>
  </span>
  <span class="filter-item">
    <div class="d-flex justify-content-between align-items-center gap-2">
      <span class="filter-color bg-color-red " ></span> Đỏ</div>
  </span>
  <span class="filter-item">
    <div class="d-flex justify-content-between align-items-center gap-2">
      <span class="filter-color bg-color-green"></span> Xanh lá</div>
  </span>

</div>

