.cart {
  margin-right: 20px;
  position: relative;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #11006F;

    .number {
      position: absolute;
      top: -4px;
      left: 17px;
      height: 19px;
      line-height: 19px;
      background: #fcaf17;
      color: #11006F;
      width: 20px;
      border-radius: 50%;
      text-align: center;
      font-size: 13px;
    }

    .title {
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: .9px;
    }

    img {
      display: block;
      width: 28px;
      height: 28px;
      margin-right: 10px;
    }
  }

  .cart-item {
    display: none;
    position: absolute;
    right: -122px;
    margin-top: 20px;
    width: 477px;
    background-color: #fff;
    z-index: 100;

    & > img {
      position: absolute;
      top: -10px;
      left: 310px;
    }

    ul.list-item {
      position: relative;
      list-style: none;
      padding: 15px 15px 0;
      max-height: 360px;
      overflow-y: auto;
      margin: 0;
    }

    .under {
      padding: 10px;

      .subtotal {
        color: #000;
        font-size: 15px;
        border-top: 1px #ebebeb solid;
        padding-top: 10px;
        text-align: right;
        margin-bottom: 15px;

        span {
          color: red;
          font-weight: 500;
        }
      }

      button {
        width: 100%;
        background-color: #fcaf17;
        color: #fff;
        text-align: center;
        line-height: 46px;
        padding: 0;
        font-size: 18px;
        border: none;
        border-radius: 5px;
      }
    }
  }

  &:hover > .cart-item {
    display: block;
  }

  &:after {
    position: absolute;
    content: '';
    height: 20px;
    width: 100%;
  }
}

