<aside id="sidebar">
  <div class="sidebar-header">
    <a href="" routerLink="/admin">
      <img src="//bizweb.dktcdn.net/100/438/408/themes/897269/assets/favicon.png?1677685430794" alt="">
      <span>Admin dashboard</span>
    </a>
  </div>
  <hr class="horizontal mt-0 mb-2">
  <ul class="nav-bar">
    <li *ngFor="let item of dataSource" class="nav-item">
      <a class="nav-link text-white {{ item.isActive }}" routerLink="{{ item.url }}" (click)="isActive(item)">
        <i class="material-icons">{{ item.material}}</i>
        <span class="ms-1">{{ item.name }}</span>
      </a>
    </li>
  </ul>
</aside>
