<div class="card">
  <div class="bg-image hover-overlay" >
    <img  src="{{product.images[0].src}}" class="img-fluid w-100"/>
    <a routerLink="/san-pham/{{product.id}}">
      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
    </a>
  </div>
  <div class="card-body">
    <h6 class="card-title">{{product.name}}</h6>
    <span class="fw-bold fs-6"> {{product.price | currency : 'VND'}}</span>
    <div class="d-flex align-items-center">
      <button *ngFor="let variant of variantsColors| slice:0:3 " type="button" class="btn btn-dark btn-floating overflow-hidden ms-1 me-1 mt-1 ">
        <img src="{{variant.image}}" class="img-fluid"  alt="">
      </button>

    </div>
  </div>
</div>
