<div class="card">
  <div class="bg-image hover-overlay" >
    <img  src="{{product.productImages[0].src}}" class="img-fluid w-100"/>
    <a routerLink="/product/{{product.id}}">
      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
    </a>
  </div>
  <div class="card-body">
    <h6 class="card-title">{{product.name}}</h6>
    <span class="fw-bold fs-6"> {{product.price | currency : 'VND'}}</span>
    <div class="d-flex align-items-center">
      <button type="button" class="btn btn-dark btn-floating overflow-hidden ">
        <img src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/bln6030-ncf-sjn4004-tra-10-ao-ba-lo-nu-yodyvn.jpg?v=1677547681000" class="img-fluid" alt="">
      </button>
      <button type="button" class="btn btn-dark btn-floating overflow-hidden m-1">
        <img src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/bln6030-ncf-sjn4004-tra-10-ao-ba-lo-nu-yodyvn.jpg?v=1677547681000" class="img-fluid" alt="">
      </button>
      <button type="button" class="btn btn-dark btn-floating overflow-hidden m-1">
        <img src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/bln6030-ncf-sjn4004-tra-10-ao-ba-lo-nu-yodyvn.jpg?v=1677547681000" class="img-fluid" alt="">
      </button>
    </div>
  </div>
</div>
